extends layout 
 
block content 
  h1= title 
 
 if (toShow == null) 
    h2 No instance to Update
  else
  - let juiceid = toShow._id 
  - let juice_flavour = toShow.juice_flavour
  - let juice_name = toShow.juice_name 
  - let juice_quantity = toShow.juice_quantity
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{juiceid} 
  - let actionid = "/resource/juice/" + juiceid 
  form(id='juiceForm', action= actionid, method="PUT") 
    div.form-group 
        label.juiceAttr(for='juice_flavour') juice flavour 
        input#juice_flavour(type='text', name='juice_flavour', value= juice_flavour ) 
    div.form-group 
        label.juiceAttr(for='juice_name') juice name 
        input#juice_name(type='text', name='juice_name', value= juice_name ) 
    div.form-group 
        label.juiceAttr(for='juice_quantity') juice quantity 
        input#juice_quantity(type='number', name='juice_quantity', value= juice_quantity ) 
    input(type="submit") 
 
  script. 
    document.forms['juiceForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 